<a href="{{ route urlGenerator widget.getRoute widget.getRouteParameters }}" class="btn btn-default">
    {{#if widget.getIcon}}
    <i class="fa fa-{{ widget.getIcon }}"></i>
    {{/if}}
    {{ widget.getLabel }}
</a>
