<button class="btn btn-primary {{ widget.getClassNameString }}" type="submit" {{ widget.getAttributeString }}>
    {{#if widget.getIcon}}
    <i clas="fa fa-edit"></i>
    {{/if}}
    {{ widget.getLabel }}
</button>
