<div class="app-bar">
    <div class="container-fluid" style="vertical-align:middle">
        <div class="row">
            <div class="col-md-2">
                <span class="title">AppName</span>
            </div>
            <div class="col-md-10">

                <div class="pull-right">
                    <div class="space-actions">
                        <a href="#">
                            <i class="fa fa-shield"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                </div>

                <i class="fa fa-book"></i>
                
                <a href="#" class="account-name">linkorb</a> / 
                <a href="#" class="space-name">example</a>
                
                <small>
                  <span class="label label-warning">Private</span>
                </small>
            </div>
        </div>
    </div>
</div>
